@import "reset-context";
@import "variables";

.modal-content {
    reset-context();

    border: 1px solid #ccc;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .5);
    position: relative;
    min-width: $modal-xs-width;

    &.xs {
        width: $modal-xs-width;
        .modal-body {
            min-height: ($modal-xs-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-xs-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }
    &.sm {
        width: $modal-sm-width;
        .modal-body {
            min-height: ($modal-sm-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-sm-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }
    &.md {
        width: $modal-md-width;
        .modal-body {
            min-height: ($modal-md-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-md-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }
    &.lg {
        width: $modal-lg-width;
        .modal-body {
            min-height: ($modal-lg-min-height - $modal-footer-height)px;
        }
        .modal-header + .modal-body {
            min-height: ($modal-lg-min-height - $modal-header-height - $modal-footer-height)px;
        }
    }

    .close {
        position: absolute;
        top: $padding-tb;
        right: $padding-lr;
        padding: 0;
        margin: 0;
        line-height: 20px;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        font-size: 30px;
        font-weight: normal;
        color: #999999;
        text-shadow: none;
        opacity: 1;
        outline: 0;
    }

    .modal-header {
        min-height: $modal-header-height;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        padding: 0;

        &.padding {
            padding: $padding-tb $padding-lr;
        }
    }

    &.hasCloseButton {
        .modal-header {
            &.padding {
                padding: $padding-tb $padding-r $padding-tb $padding-lr;
            }
        }
    }

    .modal-title {
        font-weight: 200;
        color: #222;
        letter-spacing: -.02em;
        font-size: 18px;

        &.ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .modal-body {
        position: relative;
        padding: 0;

        &.padding {
            padding: $modal-header-height $padding-lr $padding-tb $padding-lr;
        }
    }
    .modal-header + .modal-body.padding {
        padding: $padding-tb $padding-lr;
    }

    .modal-footer {
        min-height: $modal-footer-height;
        margin-top: 0;
        text-align: right;
        background-color: #eee;
        padding: 0;

        &.padding {
            padding: 12px $padding-lr;
        }

        button {
            min-width: 80px;
        }

        button + button {
            margin-left: $modal-footer-button-margin;
        }
    }
}
